@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
body {
  font-family: "Merriweather", serif;
}
.header-info {
  display: inline;
}
main {
  min-height: 100vh;
}

.App-header {
  background-image: url("https://img.freepik.com/foto-gratis/vaso-whisky-o-conac-u-otro-tipo-alcohol-salpicaduras-cubo-hielo-sobre-fondo-madera_288539-20.jpg?size=626&ext=jpg");
  padding: 30px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 5px;
  background-position: center;
  background-size: cover;
}

.header-logo,
.header-info {
  color: #ebedee;
  font-weight: bold;
  font-style: italic;
}
nav {
  padding: 20px 5px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-basis: max-content;
}
.nav-profile button,
.nav-form form > button,
.nav-form form input,
.nav-menu,
.text-banner form button {
  padding: 6px 8px;
  border: 1px solid #023047;
  border-radius: 8px;
  background-color: #fca311;
}
.nav-profile > * {
  margin: 0 2px;
}
.nav-form form input {
  width: 70%;
  background: none;
}
.nav-form form > * {
  margin: 0 2px;
}
.nav-form form {
  text-align: center;
  margin: 0 auto;
}
.header-logo a {
  color: #ffff;
  text-decoration: none;
}
.nav-form {
  width: 50%;
}
.banner-suscripcion {
  border-radius: 30px;
  padding: 28px 18px;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.title-banner {
  font-size: 19px;
  font-weight: bold;
}
.title-banner {
  color: #023047;
}
.text-banner p {
  font-size: 15px;
}
.text-banner form {
  text-align: center;
  padding: 18px 9px;
}
.text-banner form input {
  padding: 6px 9px;
  max-width: 90%;
  min-width: 25%;
  margin: 0 4px;
  border: 1px solid #000;
  border-radius: 3px;
}
.section-categorias {
  padding: 0 12px;
}
.section-categorias h3 {
  font-weight: bold;
  font-style: italic;
}
.cont-card {
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
  width: 95%;
  overflow: hidden;
  padding: 20px 5px;
  margin: 0 auto;
  box-shadow: 0.5px 6px 1px #e5e5e5;
}

.img-card img {
  width: 100%;
}
.title-card h4 {
  padding: 12px 0px;
}
.title-card {
  border-bottom: 0px solid #000;
  box-shadow: 0.2px 1.8px 3px;
  margin-bottom: 15px;
}
.card-categoria {
  margin: 8px 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
  grid-gap: 10px 0;
}
.img-novedades {
  overflow: hidden;
  width: 100%;
}
.novedades {
  padding: 0 12px;
}
.title-categoria h3 {
  font-style: italic;
  padding: 15px 0;
}
.card-novedades {
  height: 100%;
  border-bottom: 2px solid #e5e5e5;
  border-radius: 5px;
  text-align: center;

  padding: 5px 8px;
  margin: 0 5px;
  box-shadow: 0.9px 0.4px 0.4px 1px #e5e5e5;
}
.title-novedades {
  text-align: center;
}
.title-novedades h4 {
  color: #14213d;
}
.title-novedades p {
  color: #0f8b8d;
}
.img-novedades img {
  width: 180px;
  object-fit: cover;
}
.cont-card-novedades {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
}
/*CART */

.title-cart p {
  font-style: italic;
  text-align: center;
  padding: 20bpx 0;
  font-weight: bold;
  font-size: 20px;
}
.title-product p {
  font-weight: bold;
}
.item-cart {
  display: grid;
  padding: 20px 0;
  border-bottom: 2px solid #e5e5e5;
  align-items: center;
  grid-template-columns: 0.8fr 1fr;
  gap: 8px;
}
.img-prod img {
  width: 100%;
}
.content-cart {
  padding: 0 12px;
}
.img-prod {
  text-align: center;
}
.title-product,
.precio-product,
.cantidad-product {
  padding: 5px 0;
}
.cantidad-product form input {
  width: 50%;
  font-size: 15px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "Merriweather", serif;
  outline: none;
}
.text-product {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.button-quitar-cart button {
  background-color: #a8201a;
  padding: 8px 5px;
  border-style: none;
  border-radius: 5px;
}
.button-pagar {
  text-align: center;
  margin: 20px 0;
}
.button-pagar button {
  color: #fca311;
  font-size: 18px;
  font-weight: bold;
  background-color: #000000;
  border-style: none;
  border-radius: 5px;
  padding: 12px 60px;
}
.text-cart p {
  text-align: right;
  font-size: 13px;
  color: #a8201a;
}
.Total {
  text-align: right;

  font-weight: bold;
}
.buttons-domicilio input {
  padding: 5px 15px;
  margin: 8px 2px;
  background-color: #8ecae6;
  border-style: none;
  border-radius: 5px;
  text-align: center;
}
.domicilio {
  margin: 15px 0;
}
.nav-menu button {
  border-style: none;
  background: none;
}
.back-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: fixed;
  backdrop-filter: blur(2px);

  animation: linear 5s normal;
}
.slider-menu {
  padding-bottom: 15px;
  position: relative;
  background-color: #fff;
  height: 100vh;
  width: 90%;
  border-top-right-radius: 50px;

  overflow-y: scroll;
}
.title-menu nav {
  width: 100%;
  background-color: #ffff;
  background-image: none;
  box-shadow: none;
}
.title-menu nav ul {
  width: 100%;
}

.cont-header {
  position: relative;
}
.title-menu p {
  padding: 10px 0;
}
.title-menu nav ul li {
  list-style: none;
  position: relative;
  padding: 15px 0;
  border-bottom: 2px solid #e5e5e5;
}
.title-menu nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 0 20px;
}
.title-menu nav ul li span {
  position: absolute;
  right: 70px;
}
.title-menu {
  padding: 0 9px;
}
.head-menu {
  background-color: #e5e5e5;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
}
.head-menu button {
  background-color: transparent;
  border-style: none;
  border-top-right-radius: 50px;
  border-bottom: 1px solid #000;
}
.head-menu p {
  font-weight: bold;
  font-size: 17px;
}

.modal-cart-delete {
  position: fixed;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40vh;
  z-index: 10000;
  backdrop-filter: blur(5px);
}
.cont-modal-delete {
  border: 1px solid rgb(0, 0, 0);
  padding: 20px 10px;
  border-radius: 15px;
  background-color: #e5e5e5;
}
.confirm-modal-delete form {
  text-align: center;
}
.confirm-modal-delete {
  padding: 20px 0;
  flex-wrap: nowrap;
}
.head-modal-delete p {
  text-align: center;
}
.option-delete {
  display: inline;
  padding: 5px 10px;
  background: none;
}
.button-cancelar {
  text-align: center;
}
.option-delete button {
  border-style: none;
  background-color: none;
}
.button-cancelar button {
  padding: 12px 30px;
  border-style: none;
  border: 1px solid #000;
  background-color: #0f8b8d;
  border-radius: 5px;
}
.si_delete {
  font-weight: bold;
  color: #a8201a;
  border-bottom: 4px solid #a8201a;
}
.option-delete button {
  background: none;
  cursor: pointer;
}
.option-delete .si_delete {
  border-bottom: 2px solid #a8201a;
}
.cont-vacio {
  height: 80vh;
}

.cont-vacio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-header-vacio {
  padding: 30px 10px;
}
.title-header-vacio p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.button-vacio-cart a {
  color: rgb(0, 0, 0);
  text-align: center;
  align-content: center;
}
.button-vacio-cart {
  display: flex;
  align-content: center;
  align-items: center;
}
.menu-user {
  border: 1px solid #e5e5e5;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: #ffff;
}
.datos-personales nav {
  background-image: none;
  background-color: #fff;
  border: 0;
  width: 100%;
  box-shadow: none;
  margin: 0;
}

.datos-personales ul li {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;

  list-style: none;
}
.datos-personales ul li a {
  text-align: center;

  text-decoration: none;
  padding: 10px 0;
  color: #000;
}
.datos-personales ul {
  width: 100%;
}
.datos-personales ul li {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.menu-user {
  position: relative;
  text-align: center;
  width: 100%;
}
.cont-menu-user {
  width: 50%;
  position: absolute;
  right: 0;
  margin-right: 15px;
}
.design-menu {
  position: absolute;
  right: 15px;
  top: -18px;
}
.cont-footer {
  padding: 15px 10px;

  background-color: rgba(0, 0, 0, 0.904);
}

footer {
  width: 100%;
  font-size: 18px;
  padding-top: 50px;
  text-align: center;
}
.title-footer p {
  color: #fca311;
  font-weight: bold;
}
.icons-footer {
  padding: 10px 0;
}
.nav-navigation {
  background-color: #ffff;
  border-bottom: 1px solid #000000;
}
.icons-footer a {
  padding: 0px 10px;
  color: #fca311;
}
.shop-section {
  padding: 0 12px;
}
/*SHOP*/
.img-item-shop img {
  width: 100%;
}
.container-products-shop {
  display: grid;
  gap: 20px 7px;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  height: 100%;
}
.container-item-shop button {
  width: 100%;
  border-style: none;
  background-color: #000000;
  padding: 5px 0;
  cursor: pointer;
}
.title-section-shop {
  border-bottom: 1px solid #dad2d8;
  padding: 15px 0;
  font-size: 18px;
}
.item-shop:hover {
  border: 1px solid #14213d;
}
.title-item-shop {
  padding: 10px 8px;
}
.Shop-coincidencias {
  height: 60vh;
  align-content: center;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  align-items: center;
  color: red;
  display: flex;
  justify-content: center;
}
